-if @owner
  #master-links
    %h3
      Master Links:
    %span
      Link to List: 
      %a{:href=>"/sk/list/#{@list_id}"}= "http://www.awfulnauts.com/sk/list/#{@list_id}"
      %br
      Admin Link to List: 
      %a{:href=>"/sk/list/#{@list_id}/#{@owner_id}"}= "http://www.awfulnauts.com/sk/list/#{@list_id}/#{@owner_id}"

  %h3
    Add Raider:
  %form{:action=>"/sk/#{@list_id}/add-raider", :method=>"post"}
    Name: 
    %input{:type=>"text",:name=>"name"}
    %input{:type=>"submit", :value=>"Submit"}

.left
  %h3
    Current Raiders:
  %table
    %tr
      %th
        Loot
      %th
        Name
      %th
        Roll
      -if @owner
        %th
          Remove
    -@list[:raiders].each do |r|
      %tr
        %td
          -if @owner
            %a{:href=>"/sk/#{@list_id}/get-loot/#{r[:name]}"}=r[:loot_count]
          -else
            =r[:loot_count]
        %td= r[:name] 
        %td= r[:roll]
        -if @owner
          %td
            %a{:href=>"/sk/#{@list_id}/remove-raider/#{r[:name]}"}
              Remove
-if @owner
  .right
    %h3
      %a{:href=>"/sk/list/#{@list_id}/#{@owner_id}?roll=1"}
        Roll Off Current Raiders
    -if params[:roll]
      -names = @list[:raiders].collect{|r|r[:name]}
      -rolls = names.collect{|n|{:name=>n,:roll=>Random.rand(100)}}.sort_by{|a|a[:roll]} rescue nil
      %table
        %tr
          %th
            Name
          %th
            Roll
        -rolls.each do |r|
          %tr
            %td= r[:name] 
            %td= r[:roll]